{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Plan to Progress - ALL Files{% endblock %}


{% block page_content %}
	
	<p> <h1>My Files</h1> </p>
		

	{% for file in my_list %}
		<li>{{ file }} 
		<p><a href="{{url_for('download', user_id = current_user.id,file_name = file)}}"> download </a> 
		<a href="{{url_for('delete',file_name = file)}}"> delete </a>
		</p>

		</li>

	{% endfor %}

	
	<hr/>
	<p>
	  <h1>All Files</h1>
	  </p>
	  {% for key in all_dict %}
	  	{% for value in all_dict[key] %}
		<li>
		<p>{{ value }}</p>
		<p>User ID: {{ key }}</p>
		<p><a href="{{url_for('download', user_id = key, file_name = value)}}">download </a>
		</p>



		</li>
		{% endfor %}

	  {% endfor %}
{% endblock %}
