{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Plan to Progress - Home {% endblock %}

{% block nav_bar %} 
        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
		{% if current_user.is_authenticated  %}
                     <li>  <a href="{{url_for('index')}}">{{ current_user.nickname }}</a> </li>
		     <li>  <a href="{{url_for('logout')}}">Logout</a> </li>
		{% else %}
		     <li>  <a href="{{url_for('login')}}">Login</a> </li>
		{% endif %}
                </ul>
        </div>

 {% endblock %}

{% block page_content %}
	
{% endblock %}
