{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Plan to Progress - Home {% endblock %}



{% block page_content %}
	<p><h2> Plans  </h2>	</p>
	<ul>
	{% if lists  %}
		{% for list in lists %}
    			<li>
				<p>Title:  {{ list.title }}</p>
				<p>Detail:  {{ list.detail }}</p>
				<p>Tag:  {{ list.tag }}</p>
				<p>Target date:  {{ list.before }}</p>

        			<p>{{ list.timestamp.strftime("%a, %d %b %Y %H:%M:%S") }}</p>
				<hr />
  			</li>
    		{% endfor %}
	{% else %}
    		<p style="color:blue;">No plan yet ... </p>
	{% endif %}
		
	</ul>	
{% endblock %}
